<!DOCTYPE html>
{{ partial "head.html" . }}
<body>
  {{ partial "nav.html" }}
  <div class="container" style="width:600px;padding:20px 10px;">
    <p>Putting together software development, soft skills, knowledge, teams and people.</p>
    <br/>
    <div>
    <p>Twitter: <a href="https://twitter.com/forkandpie" target="_blank">@forkandpie</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/arsen-ismagulov-b47a9081/">Arsen Ismagulov</a></p>
    </div>
  </div>
  
  {{ partial "footer.html" }}
</body>